body {
	direction: rtl;
	text-align: right;
	font-family: "Vazirmatn", "Roboto", sans-serif;
}

.hero-slider {
	direction: ltr;
}

.t-left {
	text-align: right;
}

.t-right {
	text-align: left;
}

.float-left {
	float: right;
}

.float-right {
	float: left;
}

.push-right {
	margin-right: 0;
	margin-left: 20px;
}

.search-trigger {
	margin-left: 0;
	margin-right: 20px;
}

.site-header__btn {
	margin-right: 0;
	margin-left: 20px;
}

.btn--with-photo {
	padding-left: 0;
	padding-right: 40px;
}

.site-header .btn--with-photo {
	margin-left: 0;
}

.search-submit {
	margin-left: 0;
	margin-right: 10px;
}

.edit-note,
.delete-note,
.submit-note {
	margin-right: 0;
	margin-left: 7px;
}

.generic-content .like-box {
	float: left;
	padding: 10px 25px 10px 10px;
	margin: 0 30px 30px 0;
}

.like-count {
	padding-left: 0;
	padding-right: 10px;
}

.like-box .fa-heart-o,
.like-box .fa-heart {
	left: auto;
	right: 10px;
}

.site-header__avatar {
	left: auto;
	right: 0;
}

.site-header__search-trigger {
	right: auto;
	left: 16px;
}

.site-header__menu-trigger {
	right: auto;
	left: 46px;
}

.site-header__util {
	padding: 0 20px 0 0;
}

@media (min-width: 960px) {
	.row {
		margin-right: 0;
		margin-left: -50px;
	}

	.one-half,
	.one-third,
	.two-thirds,
	.one-fourth,
	.one-fifth,
	.one-sixth {
		float: right;
		padding-right: 0;
		padding-left: 50px;
	}
}

@media (min-width: 960px) {
	.site-header__menu {
		float: none;
	}

	.site-header__util {
		float: none;
	}

	.main-navigation {
		float: none;
		margin-right: 0;
		margin-left: 20px;
	}

	.main-navigation li {
		float: none;
		padding-left: 0;
		padding-right: 20px;
	}

	.site-header__btn {
		float: right;
	}
}

ul,
ol {
	padding-left: 0;
	padding-right: 1.2em;
}

.min-list {
	padding-right: 0;
}

.site-footer__col-one,
.site-footer__col-two-three-group,
.site-footer__col-four {
	text-align: right;
}

@media (min-width: 960px) {
	.site-footer__col-one {
		float: right;
	}

	.site-footer__col-two-three-group {
		float: right;
	}

	.site-footer__col-two,
	.site-footer__col-three {
		float: right;
	}

	.site-footer__col-four {
		float: left;
	}
}

.search-overlay__icon {
	margin-right: 0;
	margin-left: 10px;
}

.search-overlay__close {
	right: auto;
	left: 16px;
}

.professor-card {
	margin-right: 0;
	margin-left: 15px;
}

.event-summary {
	padding-left: 0;
	padding-right: 107px;
}

.event-summary__date {
	left: auto;
	right: 0;
}

@media (min-width: 767px) {
	.page-links {
		margin: 0 20px 40px 0;
		float: left;
	}
}

.metabox__main {
	padding: 10px 11px 10px 15px;
}

.metabox .metabox__blog-home-link {
	border-radius: 0 3px 3px 0;
}
